@use "../../variables" as *;

.machine-card {
  background: #3b3d40;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease,
    background-color 0.15s ease;
  //color: $text;
  border: 1px solid rgba(0, 0, 0, 0.4);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
    background: #44464a;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;

    strong {
      font-size: 15px;
    }
  }

  &__type {
    font-size: 13px;
    color: #d1d5db;
  }

  &__body {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;

    strong {
      font-weight: 600;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__status {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    &--active {
      background: rgba(34, 197, 94, 0.15);
      border-color: rgba(34, 197, 94, 0.7);
      color: #bbf7d0;
    }

    &--inactive {
      background: rgba(248, 113, 113, 0.12);
      border-color: rgba(248, 113, 113, 0.8);
      color: #fecaca;
    }
  }

  /* Кнопка-додавалка */
  &--add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 300;
    border: 2px dashed rgba(229, 231, 235, 0.5);
    background: transparent;
    color: #e5e7eb;
    outline: none;

    &:hover {
      background: rgba(148, 163, 184, 0.15);
      border-style: solid;
    }
  }
}
