// src/styles/pages/WorkersPage/_workers-page.scss
@use "../../variables" as *;

.workers-page {
  color: $color-text-primary;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: 1.4rem;
    margin: 0 0 12px 0;
    font-weight: 600;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    flex: 1 1 auto;
  }
}
