/* FOOTER */

.app-footer {
  flex: 0 0 70px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-top: 1px solid #1f2937;
  background: #404d87;
  font-size: 13px;
}
