// src/styles/_footer.scss
@use "./variables" as *;

/* FOOTER */

.app-footer {
  flex: 0 0 $bar-height;
  height: $bar-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  border-top: 1px solid $border-main;
  background: $header-footer-bg;
  font-size: 13px;
}
