/* HEADER */

.app-header {
  flex: 0 0 70px;
  height: 70px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  border-bottom: 1px solid #1f2937;
  background: #404d87;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 18px;
    margin: 0;
  }
}
