// src/styles/_header.scss
@use "./variables" as *;

/* HEADER */

.app-header {
  flex: 0 0 $bar-height;
  height: $bar-height;
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $border-main;
  background: $header-footer-bg;

  h1 {
    font-size: 18px;
    margin: 0;
  }
}
