.app {
  min-height: calc(100vh - 70px); // або height: 100vh;
  display: flex;
  flex-direction: column;
  background: #111827;
  color: #e5e7eb;

  &__body {
    flex: 1; // займає все між хедером і футером
    display: flex;
    min-height: 0; // щоб не вилазило за екран
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; // щоб main-area не вилазив
  }
}
