// src/styles/_layout.scss
@use "./variables" as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $app-bg;
  color: $text-main;

  &__body {
    flex: 1;
    display: flex;
    min-height: 0; // щоб внутрішній контент не вилазив за висоту
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; // щоб .main-area могла нормально скролитись
  }
}
