// src/styles/_main-area.scss
@use "./variables" as *;

/* ОСНОВНА РОБОЧА ОБЛАСТЬ */

.main-area {
  flex: 1;
  padding: 16px 24px;
  min-height: 0;
  width: 100%;

  background: $panel-bg;

  // Скрол тільки по вертикалі, горизонтальний ховаємо
  overflow-y: auto;
  overflow-x: hidden;
}
