/* ОСНОВНА РОБОЧА ОБЛАСТЬ */

.main-area {
  flex: 1;
  padding: 16px 24px;
  overflow: auto;
  min-height: 0;
  background: #4d4e50;
  width: 100%;
  overflow-y: auto; // ← скрол з’являється тут
  overflow-x: hidden;
}
