// src/styles/_sidebar.scss
@use "./variables" as *;

/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  border-right: 1px solid $border-main;
  background: $sidebar-bg;

  &__list {
    padding: 16px;
    flex: 1;
    overflow-y: auto;

    h2 {
      margin-top: 0;
      margin-bottom: 12px;
    }
  }

  &__bottom {
    padding: 12px 16px;
    border-top: 1px solid $border-main;
    background: $sidebar-bottom-bg;
    font-size: 13px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
