/* TOP NAV */

.top-nav {
  flex: 0 0 48px;
  height: 48px;
  width: 100%; // в межах .app-main
  display: flex;
  gap: 6px;
  padding: 8px 24px;
  align-items: center;
  border-bottom: 1px solid #1f2937;
  background: #646b8d;

  &__item {
    padding: 8px 16px;
    border: 1px solid #1d4ed8;
    background: #1e293b;
    color: #e5e7eb;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background: #1d4ed8;
    }
  }
}
