.top-nav {
  flex: 0 0 48px;
  height: 48px;
  width: 100%;

  display: flex;
  padding: 0; // ❗ прибираємо
  gap: 0; // ❗ прибираємо

  background: rgb(167, 119, 119);
}

.top-nav__item {
  flex: 1;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #e5e7eb;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  border: 1px solid rgb(96, 69, 69);

  &:hover {
    background: rgb(193, 102, 108);
  }

  &--active {
    font-weight: 900;
    color: #dddddd;
    text-shadow: 0px 0px 10px #000000;
    background-color: #4d4e50;
    border: none;
    /* інверсія кольору / бордер — як хочеш */
    &:hover {
      background: #4d4e50;
    }
  }
}
