// src/styles/_top-nav.scss
@use "./variables" as *;

.top-nav {
  flex: 0 0 $top-nav-height;
  height: $top-nav-height;
  width: 100%;
  display: flex;
  background: $tabs-bg;
}

.top-nav__item {
  flex: 1;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $text-main;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  border: 1px solid $tabs-border;
  background: transparent;
  padding: 0;

  &:hover {
    background: $tabs-hover-bg;
  }

  &--active {
    font-weight: 900;
    color: $text-muted;
    text-shadow: 0 0 10px #000000;
    background-color: $panel-bg;
    border: none;

    &:hover {
      background: $panel-bg;
    }
  }
}
