// src/styles/main.scss
@use "./variables" as *;
@use "./base";
@use "leaflet/dist/leaflet.css";

// компоненти
@use "./layout";
@use "./header";
@use "./sidebar";
@use "./top-nav";
@use "./main-area";
@use "./footer";

// сторінки
@use "./pages/FieldPage/fields-page";
@use "./pages/FieldPage/field-card";
@use "./pages/FieldPage/field-modal";

@use "./pages/MachinesPage/machines-page";
@use "./pages/MachinesPage/machine-card";
@use "./pages/MachinesPage/machine-modal";

@use "./pages/WorkersPage/workers-page";
@use "./pages/WorkersPage/worker-card";
@use "./pages/WorkersPage/worker-modal";

@use "./pages/CropsPage/crops-page";
@use "./pages/CropsPage/crop-card";
@use "./pages/CropsPage/crop-modal";

@use "./pages/ResourcesPage/resources-page";

@use "./pages/WeatherScenariosPage/weather-scenarios-page";

@use "./pages/CalendarPage/calendar-page";
@use "./pages/CalendarPage/calendar-grid";
@use "./pages/CalendarPage/day-panel";
@use "./pages/CalendarPage/calendar-modal";
