// src/styles/main.scss
@use "./variables" as *;
@use "./base";
@use "leaflet/dist/leaflet.css";

// компоненти
@use "./layout";
@use "./header";
@use "./sidebar";
@use "./top-nav";
@use "./main-area";
@use "./footer";

// сторінки
@use "./pages/FieldPage/fields-page";
@use "./pages/FieldPage/field-card";
@use "./pages/FieldPage/field-modal";
/* ==== Фіксуємо лейаут і скрол тільки в main-area ==== */

// Базова висота для всього додатку
html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: $app-bg;
  color: $text-main;
}
