@use "../../variables" as *;

.crops-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $color-text-primary;

  &__title {
    margin: 0 0 16px;
    font-size: 20px;
    text-align: left;
    flex: 0 0 auto;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    flex: 1 1 auto;
  }
}
