// src/styles/pages/FieldsPage/_fields-page.scss
@use "../../variables" as *;

// Сторінка "Поля"

.fields-page {
  // padding: 16px 24px; // прибрав, бо main-area вже має такі відступи
  color: $color-text-primary;

  &__title {
    font-size: 1.4rem;
    margin: 0 0 12px 0;
    font-weight: 600;
  }

  &__grid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    align-items: stretch;
  }
}
