// Сторінка "Поля"

.fields-page {
  padding: 16px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #f0f0f0;

  min-height: 0;
  overflow-y: auto; // ← скрол з’являється тут
  overflow-x: hidden;

  h2 {
    font-size: 1.4rem;
    margin: 0 0 12px 0;
    font-weight: 600;
  }

  .fields-grid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    align-items: stretch;
  }
}
